@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.brown {
  background-color: #ce967e;
}

.bg-brown {
  background-color: #ce967e !important;
}
.bg-lightBrown {
  background-color: #f5e7d6;
}
.fill-brown {
  fill: #ce967e;
}

.text-brown {
  color: #ce967e;
}
.border-brown {
  border-color: #ce967e;
}

.border-gray {
  border-color: #868686;
}

.poppins {
  font-family: "Poppins", sans-serif !important;
}

.marcellus {
  font-family: "Marcellus", serif;
}

.button-brown {
  background-color: #ce967e;
  color: #fff;
  border-radius: 0;
  font-weight: 500;
  cursor: pointer;
}

.button-brown:hover {
  box-shadow: inset 0 0 0 2px #ce967e, 0 0 0 2px #ce967e;
  transition: all 0.3s ease;
}

.text-gray {
  color: #979594;
}

.text-darkGray {
  color: #4e4d4d;
}

.bg-gray {
  background-color: #f5f5f5;
}

.scrollbarWidthNone {
  scrollbar-width: none !important;
}
.scrollbarWidthThin {
  scrollbar-width: thin;
  scrollbar-color: #ce967e #f5f5f5;
}

::-webkit-scrollbar {
  background-color: #ffffff;
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #ce967e;
}

/* Add this to your CSS file or style tag */
.animated-button {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.animated-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.animated-button span {
  transition: all 0.3s ease;
}

.animated-button:hover span {
  transform: translateX(3px);
}

.animated-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  transition: all 0.5s ease;
}

.animated-button:hover::after {
  left: 100%;
}

/* Page Loading */

@keyframes traingle1 {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes traingle2 {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 1px;
    opacity: 1;
  }
}
@keyframes traingle3 {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 1px;
    opacity: 1;
  }
}
@keyframes traingle4 {
  0% {
    top: -33px;
    opacity: 0;
  }
  100% {
    top: 22px;
    opacity: 1;
  }
}
@keyframes traingle5 {
  0% {
    top: -33px;
    opacity: 0;
  }
  100% {
    top: 22px;
    opacity: 1;
  }
}
@keyframes traingle6 {
  0% {
    top: -33px;
    opacity: 0;
  }
  100% {
    top: 23px;
    opacity: 1;
  }
}
@keyframes traingle7 {
  0% {
    top: -10px;
    opacity: 0;
  }
  100% {
    top: 44px;
    opacity: 1;
  }
}
@keyframes opacity {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
@keyframes text {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 70px;
    opacity: 1;
  }
}

/* Button laoding */

.loader {
  width: 30px;
  height: calc(30px * 0.866);
  background: #fff;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  --c: at 50% 66%, #000 60deg, #0000 0;
  -webkit-mask: conic-gradient(from 30deg var(--c)) right,
    conic-gradient(from 150deg var(--c)) bottom,
    conic-gradient(from -90deg var(--c)) left, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-repeat: no-repeat;
  animation: appear 1.5s infinite;
}
@keyframes appear {
  0% {
    -webkit-mask-size: 0 0, 0 0, 0 0, auto;
  }
  13.33% {
    -webkit-mask-size: 100% 100%, 0 0, 0 0, auto;
  }
  26.67% {
    -webkit-mask-size: 100% 100%, 100% 100%, 0 0, auto;
  }
  40%,
  60% {
    -webkit-mask-size: 100% 100%, 100% 100%, 100% 100%, auto;
  }
  73.33% {
    -webkit-mask-size: 0 0, 100% 100%, 100% 100%, auto;
  }
  86.67% {
    -webkit-mask-size: 0 0, 0 0, 100% 100%, auto;
  }
  100% {
    -webkit-mask-size: 0 0, 0 0, 0 0, auto;
  }
}

@media screen and (max-width: 768px) {
  .loader {
    width: 20px;
    height: calc(20px * 0.866);
  }
}

.swiper-pagination-bullet {
  background: #d9d9d9 !important;
  opacity: 1 !important;
  width: 8px !important;
  height: 8px !important;
  margin: 0 4px !important;
}

.swiper-pagination-bullet-active {
  background: black !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 4px) !important;
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.cp {
  cursor: pointer !important;
}

/* Persist Loader */
.dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: 0.9s;
  --uib-color: #ce967e;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: "";
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Admin Css */
.bg-lightBlue {
  background-color: #f1f7fa !important;
}

.bg-Lime {
  background-color: #ccfe8c !important;
}

.montserrat {
  font-family: "Montserrat", sans-serif !important;
}
.barlow {
  font-family: "Barlow", sans-serif !important;
}
.bg-cream {
  background-color: #fee698 !important;
}

.scrollbarWidthThinAdmin {
  scrollbar-width: thin;
  scrollbar-color: #ccfe8c #fff;
}

.addButton {
  font-size: 14px;
  background-color: #fff;
  color: #000;
  border-radius: 100px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  font-weight: 500;
  padding: 8px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addButton:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.dataloader {
  width: fit-content;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background: linear-gradient(90deg, #0000 33%, #000 0 67%, #0000 0) 100%/300%
    100% no-repeat text;
  animation: l12 4s steps(14) infinite;
}

.dataloader:before {
  content: "Loading...";
}

@keyframes l12 {
  to {
    background-position: 0;
  }
}

/* Custom pagination styles */
.swiper-pagination-bullet-custom {
  width: 8px;
  height: 8px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active-custom {
  background: white;
  width: 32px;
  border-radius: 7px;
}

.swiper-button-prev-custom:hover,
.swiper-button-next-custom:hover {
  transform: scale(1.1) !important;
}

.cardBG {
  background: #ffffff;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25) inset;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}

.cardBG:hover {
  background: #ffffff;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}

.InputShadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinners {
  -moz-appearance: textfield;
}

.jodit-wysiwyg * {
  font-family: Poppins, sans-serif !important;
  /* font-size: 12px !important; */
  width: 100% !important;
}

@media screen and (max-width: 768px) {
  .jodit-wysiwyg * {
    font-size: 12px !important;
  }
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Shine Effect */
.shine-wrapper {
  position: relative;
  overflow: hidden;
}

.shine-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.518) 100%
  );
  transform: skewX(-25deg);
  z-index: 1;
  pointer-events: none;
}

.shine-wrapper:hover::before {
  animation: shine 0.85s;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out forwards;
}
.imperial {
  font-family: "Imperial Script", cursive !important;
}

/* Add this to your CSS file Daily wear effect  */
.carousel-item-container {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.carousel-item-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.carousel-item-container:hover img {
  transition: transform 0.5s ease;
}

.carousel-item-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
  z-index: 1;
}

.carousel-item-container:hover::before {
  left: 100%;
}

.carousel-item-container .carousel-item-title {
  transition: all 0.3s ease;
}


.jewelry-card {
  position: relative;
  transition: all 0.6s ease;
}

.jewelry-card:hover {
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.3);
}

.jewelry-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: 
    radial-gradient(circle at center, 
    rgba(255,255,255,0.4) 0%, 
    rgba(255,255,255,0) 70%);
  opacity: 0;
  transition: opacity 0.6s ease;
  z-index: 1;
}

.jewelry-card:hover::before {
  opacity: 1;
}

.jewelry-card:hover img {
  filter: brightness(1.08) contrast(1.1) saturate(1.05);
  transform: scale(1.02);
}

.jewelry-card .absolute {
  background: linear-gradient(to top, 
    rgba(0,0,0,0.8) 0%, 
    rgba(100, 100, 100, 0.5) 100%) !important;
  transition: all 0.6s ease;
}


